<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
<body>

<h1>New Movie Name</h1>

<form action="#" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name'><br><br>
		<input type ='text' size='30' name='fee'><br>
		<input type ='radio'  name='name' value ='BAN'>BAN</br>
		<input type ='radio'  name='name' value ='F&F'>F&F</br>
		<input type ='radio' name='name' value ='MIB'>MIB</br>
		
	<p>Description:</p>
		<input type ='text' size='30' name='description'>
	</br></br>


<input type='submit' value='Create'>

</form>

</body>
</html>
